.chat-app {
   height: 100vh; /* Hauteur fixe de votre conteneur */
    overflow-x: auto; /* Ajoute une barre de défilement verticale*/
    display: flex;
  }
  
  /* .chat-app__sidebar {
    width: 240px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    min-height: 100vh;
    height: fit-content;
    
  } */
  .chat-app__sidebar {
    width: 15%;
    background-color: #f2f2f2;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
  }
  .chat-app__sidebar h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .channel-list {
    
    margin-bottom: 20px;
  }
  
  .channel-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .chat-list
  {
    height: 70vh; /* Hauteur fixe de votre conteneur */
    overflow-x:scroll; /* Ajoute une barre de défilement verticale*/
    scroll-behavior: smooth;
  }
  .channel-list li {
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .channel-list li.active {
    color: #007bff;
    /* overflow-x: auto; */
    /* height: 300px; */
    
  }
.channel-list_size {
  max-height: calc(70vh - 120px); /* ajustez la hauteur en fonction de la hauteur de votre barre latérale */
  overflow-y: auto;
  height: 70vh; /* Hauteur fixe de votre conteneur */
  overflow-x: auto; /* Ajoute une barre de défilement verticale*/
  scroll-behavior: smooth;
}

  .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(97, 97, 97, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  position: relative;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0087F7;

}

.modal-header h2 {
  margin: 0;
  color: #0087F7;

}

/* .modal-header  {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #0087F7;

} */

.modal-body {
  margin-top: 20px;
}

.test {
  text-align: center;
}

  /* .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #f1f0f0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mamod
  {
    position: "absolute";
    top: "50%";
    left: "50%";
    transform: "translate(-50%, -50%)";
    width: "200px";
    height: "200px";
    /* back */
    /* zIndex: 1;
    borderRadius: "5px";
    boxShadow: "0px 0px 5px 0px rgba(0,0,0,0.75)";
    display: "flex";
    flexDirection: "column";
    alignItems: "center";
    justifyContent: "center";


  }
  .mytest
  {
    display: block;
    width: 1500px;
    height: 1500px;
    background-color: #cf22b2;
    border : 1px solid #48c10f;
  } */

  .add-channel-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
  }
  
  .chat-app__main {
    /* flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden; */
    width: 70%;
    background-color: #fff;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
  }
  
  .channel-header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .channel-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
  
  .add-message-button {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
  }
  .containers {
    height: 70vh; /* Hauteur fixe de votre conteneur */
    overflow-x: auto; /* Ajoute une barre de défilement verticale*/
   }
   .message-list {
     flex: 1;
     background-color: #f8f8f8;
     overflow-y: scroll;
     padding: 20px;
         min-height: 100vh;
    height: fit-content;
    }
    
    .message-item {
      display: flex;
      flex-direction: column;
    margin-bottom: 20px;
  }
  
  .message-item.sent {
    align-self: flex-end;
  }
  
  .message-item.received {
    align-self: flex-start;
  }
  
  .message-sender {
    font-size: 14px;
    color: #999;
    margin-bottom: 5px;
  }
  
  .message-text {
    font-size: 16px;
    margin: 0;
  }
  
  .message-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
  }
  
  .message-input textarea {
    flex: 1;
    resize: none;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .send-message-button {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
  }
  


  
  
  
  


.textcol
{
  text-decoration: solid;
  color: #cf22b2;
  font-size: 10px;
  
}

.textcol2
{
  text-decoration: solid;
  color: #cf22b2;
  font-size: 40px;
  
}

.test{
  background: #ffffff;
}


.dropzone {
  border: 50px dashed #0087F7;
  border-radius:100%;
  width: 100px;
  height: 100px;
      min-height: 0px !important;
      min-width: 0px !important;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      color: #0087F7;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      
     }   


     .message {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      /* background-color: #F2F2F2; */
    }

.sent-message {
  background-color: #007bff;
  color: white;
  border-radius: 10px 10px 0 10px;
  padding: 10px;
  margin-left: auto;
  max-width: 50%;
}

.received-message {
  background-color: #f1f0f0;
  color: black;
  border-radius: 10px 10px 10px 0;
  padding: 10px;
  margin-right: auto;
  max-width: 50%;
}

.sent-user {
  display: flex;
  flex-direction: row-reverse;
  
}

.received-user {
  display: flex;
  
}


.friend-app__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.friend-app__sidebar {
  width: 15%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  min-height: 100vh;
  height: fit-content;
  
  
}

.friend-app__sidebar li {
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

/***/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Utilisation d'une grille CSS pour aligner les champs du formulaire */
form > * {
  margin-bottom: 10px;
  width: 100%;
}

/* Utilisation de media queries pour modifier la grille en fonction de la taille de l'écran */
@media screen and (min-width: 768px) {
  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  form > * {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
  }
  form > :last-child {
    margin-right: 0;
  }
}
