.chat-app {
   height: 100vh; /* Hauteur fixe de votre conteneur */
    overflow-x: auto; /* Ajoute une barre de défilement verticale*/
    display: flex;
    margin-left: 25px;
  }
  
  .chat-app__sidebar {
    width: 15%;
    background-color: #f2f2f2;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
  }
  .chat-app__sidebar h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .chat-app__main {
    width: 70%;
    background-color: #fff;
    height: 100%;
    padding: 20px;
    /* overflow-y: auto; */
  }
  
  .add-message-button {
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    cursor: pointer;
  }
  .containers {
    height: 60vh; /* Hauteur fixe de votre conteneur */
    overflow-x: auto; /* Ajoute une barre de défilement verticale*/
   }
  

.textcol
{
  text-decoration: solid;
  color: #cf22b2;
  font-size: 10px;
  
}

.textcol2
{
  text-decoration: solid;
  color: #cf22b2;
  font-size: 40px;
  
}

.test{
  background: #ffffff;
}

.dropzone {
  border: 50px dashed #0087F7;
  border-radius:100%;
  width: 100px;
  height: 100px;
  min-height: 0px !important;
  min-width: 0px !important;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: #0087F7;
  cursor: pointer;
      transition: all 0.2s ease-in-out; 
}   
.sent-user {
  display: flex;
  flex-direction: row-reverse;
  
}

.received-user {
  display: flex;
  
}


.friend-app__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.friend-app__sidebar {
  width: 15%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  min-height: 100vh;
  height: fit-content;
  /* margin-bottom: 50vh; */
}

.friend-app__sidebar li {
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}


.Invitation-list__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.Invitation-list__sidebar {
  width: 15%;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  min-height: 100vh;
  height: fit-content;
  /* margin-top: 50vh; */
}

.Invitation-list__sidebar li {
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}

/***/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Utilisation d'une grille CSS pour aligner les champs du formulaire */
form > * {
  margin-bottom: 10px;
  width: 100%;
}

/* Utilisation de media queries pour modifier la grille en fonction de la taille de l'écran */
@media screen and (min-width: 768px) {
  form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  form > * {
    margin-right: 10px;
    margin-bottom: 0;
  
  }
  form > :last-child {
    margin-right: 0;
  }
}



.break-word {
  word-wrap: break-word;
}


.class_hist{
overflow-y: auto;

}