
  /* .topbar {
    background-color: rgb(57, 161, 221);
    color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }


  .navlink {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 20px;
  }

  
  .navlink {
    color: white;
    text-decoration: none;
    padding: 1px;
    font-weight: bold;
  }
  
  .navlink:hover {
    color: #4b68db;
  }
  
  .active-navlink {
    color: #96c468;
    background-color: #666;
  }


  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #333;
    height: 100vh;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
  }
  
  .navbar a {
    display: block;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a i {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .navbar a.active i {
    color: #FFC107;
  }
  
  .navbar a:hover {
    background-color: #1D1D1D;
  } */

  /* .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
  }
  
  .menu-button {
    display: none;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .menu.show {
    transform: translateX(0%);
  }
  
  .nav-link {
    color: #333;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .active {
    font-weight: bold;
  }
  
  @media only screen and (max-width: 768px) {
    .menu-button {
      display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 24px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  
    .navbar {
      width: 100%;
      height: 50px;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
    }
  
    .menu {
      width: 100%;
      height: calc(100% - 50px);
      top: 50px;
      left: 0;
      transform: translateY(-100%);
    }
  
    .menu.show{
    transform: translateY(0%);
  }
} */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #3e3e3e;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  padding: 1rem;
  z-index: 9999;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: block;
  transition: all 0.2s ease-in-out;
}

.menu a:hover {
  background-color: #4a4a4a;
}

.menu .active {
  background-color: #4a4a4a;
  font-weight: bold;
}