:root
{
	--fg_hue: 315;
	--fg_saturation: 50%;
	--fg_brightness: 50%;
	--foreground-color: hsl(
	var(--fg_hue),
	var(--fg_saturation),
	var(--fg_brightness)
	);
	
	--bg_hue: 0;
	--bg_saturation: 0%;
	--bg_brightness: 13%;
	--background-color: hsl(
	var(--bg_hue),
	var(--bg_saturation),
	var(--bg_brightness)
	);

	overflow: hidden;
}

.pong_game
{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3vh;
	height: 100vh;
	width: 100vw;
	background-color: var(--background-color);
}

.top
{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.game
{
	flex: 3;
}

.bot	
{
	flex: 1;
	display: flex;
}

.h1nº1
{
	flex: 3;
	font-weight: bold;
	font-size: 4vh;
	color: var(--foreground-color);
}

.joinQueue
{
	flex: 1;
	margin-bottom: 2vh;
}

.waiting
{
	flex: 1;
	justify-content: center;
	font-size: 2vh;
	color: var(--foreground-color);
	font-weight: bold;
	margin-bottom: 2vh;
}

.cancer
{
	flex: 1;
	font-size: 2vh;
	font-weight: bold;
	color: var(--foreground-color);
	display: flex;
	margin-bottom: 2vh;
	justify-content: space-between;
}

.name_p	
{
	flex: 1;
	gap: 2vw;
	font-size: 2vh;
	font-weight: bold;
	color: var(--foreground-color);
	order: 1;
}

.score_p	
{
	flex: 1;
	gap: 2vw;
	font-size: 2vh;
	font-weight: bold;
	color: var(--foreground-color);
	order: 2;
}

.bar 
{
	flex: 1;
	justify-content: center;
	gap: 2vw;
	font-size: 2vh;
	font-weight: bold;
	color: var(--foreground-color);
	order: 3;
	margin-right: auto;
	margin-left: auto;
}

.name_o
{
	flex: 1;
	gap: 2vw;
	font-size: 2vh;
	font-weight: bold;
	color: var(--foreground-color);
	order: 4;
}

.score_o	
{
	flex: 1;
	gap: 2vw;
	font-size: 2vh;
	font-weight: bold;
	color: var(--foreground-color);
	order: 5;
}

.player_ready
{
	position: absolute;
	top: 50vh;
	transform: translateXY(-50%, -50%);
	left: 50vw;
	width: 0px;
	height: 0px;
	border: 100px solid;
	border-radius: 0%;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: orange;
	border-left-color: blue;
}

.upperbound
{
	position: absolute;
	display: flex;
	top: 19vh;
	left: 0;
	height: 0;
	width: 100vw;
	border-top: 1vh solid grey;
}

.central_line
{
	position: absolute;
	display: flex;
	top: 20vh;
	left: 49.5vw;
	height: 60vh;
	border-left: 1vh dashed grey;
	z-index: 0;
}

.lowerbound
{
	position: absolute;
	bottom: 19vh;
	left: 0;
	height: 0;
	width: 100vw;
	border-bottom: 1vh solid grey;
}

.paddle {
	--h: 10;
	--y: 50;

	position: absolute;
	top: calc(var(--y) * 1vh);
	transform: translateY(-50%);

	width: 1vw;
	height: calc(var(--h) * 1vh);
	background-color: var(--foreground-color);
}

.paddle.left {
	--x: 3;
	left: calc(var(--x) * 1vw);
}

.paddle.right {
	--x: 96;
	left: calc(var(--x) * 1vw);
}

.ball {
	--x: 49.5;
	--y: 50;
	
	position: absolute;
	left: calc(var(--x) * 1vw);
	top: calc(var(--y) * 1vh);
	transform: translate(-50%, -50%);

	width: 1vw;
	height: 1vw;
	background-color: var(--foreground-color);
	z-index: 1;

	border-radius: 50%;
}

.variant.message
{
	display: flex;
	flex-direction: row;
	width: 19vw;
	font-size: 2vh;
	font-weight: bold;
	color: var(--foreground-color);
	margin-top: auto;
	margin-bottom: auto;
}

.variant.button
{
	display: flex;
	flex-direction: row;
	width: 12vw;
	margin: auto;
}
.variant.accept
{
	display: flex;
	flex-direction: row;
	margin-top: auto;
	margin-bottom: auto;
}

.variant.decline
{
	display: flex;
	flex-direction: row;
	margin-top: auto;
	margin-bottom: auto;
}
