html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.pongMenu
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--background-color);
	height: 100vh;
	width: 100vw;
}

.menuTop
{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menuMid
{
	flex: 2;
	border: 0.2vw solid black;
	padding: 1vw 2vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menuBot
{
	flex: 1;
	width: 90vw;
	margin-left: 1vw;
	margin-right: 1vw;
	border: 0.2vw solid black;
}

.h1n2
{
	font-size: 5vh;
	font-weight: bold;
	color: var(--foreground-color);
	color: white;
	margin-top: 0;
	text-align: center;
}

.h2n1
{
	font-size:2.3vh;
	font-weight: bold;
	color: var(--foreground-color);
	color: white;
	margin: 2vh;
	text-align: center;
}

.play
{
	width: 15vw;
	margin-top: 0;
	background-color: white;
	color: var(--background-color);
	border: none;
	border-radius: 10px;
	padding: 1vh 2vh;
	font-size: 2vh;
	font-weight: bold;
	cursor: pointer;
}

.invitesTitle
{
	font-size: 2vh;
	font-weight: bold;
	margin-bottom: 1vw;
	color: white;
}

.invitesReceived li
{
	font-size: 1.5vh;
	color: yellow;
	display: flex;
	align-items: center;
	margin-left: 0;
}

.invitesSent li
{
	font-size: 1.5rem;
}

.acceptDuel, .declineDuel
{

	margin-left: 1vw;
	background-color: var(--foreground-color);
	color: white;
	border: none;
	border-radius: 10%;
	padding: 0.5vh;
	font-size: 1vh;
	font-weight: bold;
	cursor: pointer;
	opacity: 60%;
}

.acceptDuel
{
	background-color: green;
}

.declineDuel
{
	background-color: red;
}

.cancelDuelInvite
{
	background-color: var(--foreground-color);
	color: white;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 0.5rem;
	font-size: 1rem;
	font-weight: bold;
	cursor: pointer;
	opacity: 50%;
}
