:root
{
	--fg_hue: 315;
	--fg_saturation: 50%;
	--fg_brightness: 50%;
	--foreground-color: hsl(
	var(--fg_hue),
	var(--fg_saturation),
	var(--fg_brightness)
	);
	
	--bg_hue: 0;
	--bg_saturation: 0%;
	--bg_brightness: 13%;
	--background-color: hsl(
	var(--bg_hue),
	var(--bg_saturation),
	var(--bg_brightness)
	);

	overflow: hidden;
}

.pong
{
	position: absolute;
	display: flex;
	flex-direction: column;
	gap: 3vh;
	height: 100vh;
	width: 100vw;
	background-color: var(--background-color);
}


h1
{
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 4vh;
	color: var(--foreground-color);
}

.scores
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2vw;
	width: 100vw;
	font-size: 1.5vh;
	color: var(--foreground-color);
	font-size: 2vh;
	font-weight: bold;
}

.game
{
	display: flex;
}

.central_line
{
	position: absolute;
	top: 20vh;
	left: 49.5vw;
	height: 60vh;
	border-left: 1vh dashed grey;
	z-index: 0;
}

.upperbound
{
	position: absolute;
	top: 19vh;
	left: 0;
	height: 0;
	width: 100vw;
	border-top: 1vh solid grey;
}

.lowerbound
{
	position: absolute;
	bottom: 19vh;
	left: 0;
	width: 100vw;
	border-bottom: 1vh solid grey;
}

.player_ready
{
	position: absolute;
	top: 50vh;
	transform: translateXY(-50%, -50%);
	left: 50vw;
	width: 0px;
	height: 0px;
	border: 100px solid;
	border-radius: 0%;
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: orange;
	border-left-color: blue;
}

.paddle {
	--y: 50;

	position: absolute;
	top: calc(var(--y) * 1vh);
	transform: translateY(-50%);

	width: 1vw;
	height: 10vh;
	background-color: var(--foreground-color);
}

.paddle.left {
	--x: 3;
	left: calc(var(--x) * 1vw);
}

.paddle.right {
	--x: 96;
	left: calc(var(--x) * 1vw);
}

.ball {
	--x: 49.5;
	--y: 50;
	
	position: absolute;
	left: calc(var(--x) * 1vw);
	top: calc(var(--y) * 1vh);
	transform: translate(-50%, -50%);

	width: 2vh;
	height: 2vh;
	background-color: var(--foreground-color);
	z-index: 1;
}
